@use './util' as u;

@font-face {
  font-family: 'Inter';
  src: url('../../assets/fonts/Inter-VariableFont_slnt\,wght.ttf')
    type('truetype');
}

:root {
  --clr-primary: #f0f0ff;
  --clr-secondary: #9bffed;
  --bg-primary: #17171e;
  --bg-secondary: #1e1e28;
  --bg-tertiary: #282835;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 50px 20px;
  background: var(--bg-primary);
  font-family: 'Inter';
  font-size: u.rem(14);
  color: var(--clr-primary);
}

.card {
  max-width: 326px;
  padding: 24px;
  background: var(--bg-secondary);
  border-radius: 10px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}
