@font-face {
  font-family: 'Inter';
  src: url('../../assets/fonts/Inter-VariableFont_slnt\,wght.ttf')
    type('truetype');
}

:root {
  --clr-primary: #f0f0ff;
  --clr-secondary: #9bffed;
  --bg-primary: #17171e;
  --bg-secondary: #1e1e28;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--bg-primary);
  font-family: 'Inter';
  color: var(--clr-primary);
}

.card {
  padding: 24px;
  background: var(--bg-secondary);
  border-radius: 10px;
}
